<section
  class="rotating-circles"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <section
    class="circle circle-red"
    [ngClass]="{ 'circle-hide': animateRipple }"
  ></section>
  <section
    class="circle circle-green"
    [ngClass]="{ 'circle-hide': animateRipple }"
  ></section>
  <section
    class="circle circle-blue"
    [ngClass]="{ 'circle-hide': animateRipple }"
  ></section>
  <section
    class="circle-click"
    (click)="onDropletClick()"
    [ngClass]="{
      bounce: bounceDroplet,
      entered: entered,
      left: !entered
    }"
  ></section>
</section>
