.rotating-circles {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.rotating-circles:hover {
  .circle {
    border: 0px;

    &-red {
      background: red;
      top: 5.5%;
      left: 5.5%;
    }

    &-green {
      background: lightgreen;
      top: 5.5%;
      left: 34.5%;
    }

    &-blue {
      background: blue;
      top: 40%;
      left: 20%;
    }

    &-hide {
      background: none;
      border: none;
      animation: none;
    }

    &-click {
      background: midnightblue;
    }
  }
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  mix-blend-mode: screen;
  position: fixed;
  transition: .5s ease;
  animation: shadow-breath 1s linear infinite;
  border: 1px solid white;
  z-index: 1;

  &-red,
  &-green,
  &-blue {
    background: white;
    top: 20%;
    left: 20%;
  }

  &-hide {
    background: none;
    border: none;
    animation: none;
  }
}

.circle-click {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;

  &.entered {
    transition: .5s .5s ease;
  }

  &.left {
    transition: .25s ease;
  }

  &.bounce {
    background: midnightblue;
    animation: bounce 1s;
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
}

.fill {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fill-center {
  animation: fill-center;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes shadow-breath {
  0% {
    box-shadow: 0px 0px 0px #0002;
  }

  50% {
    box-shadow: 0px 0px 10px #0002;
  }

  100% {
    box-shadow: 0px 0px 0px #0002;
  }
}

@keyframes bounce {
  0% {
    top: 50%;
  }

  50% {
    top: -125%;
  }

  100% {
    top: 50%;
  }
}

@keyframes fill-center {
  0% {
    width: 0px;
    height: 0px;
  }

  100% {
    width: 2500px;
    height: 2500px;
  }
}
